.btn-initial.active,
.btn-initial:active,
.btn-initial:focus,
.btn-initial:hover {
    text-decoration: none;
    color: #252527;
    background-color: #88b6d7;
    border-radius: 20px;
    border-color: #252527;
    width: 240px;
}

.btn-initial {
    text-decoration: none;
    color: white;
    background-color: #27405e;
    border-radius: 20px;
    border-color: #252527;
    width: 240px;
}

.conf-row-card {
    background-image: linear-gradient(90deg, rgba( 39, 64, 94 ), rgba( 136, 182, 215 )); color: white; opacity: 0.8;   
    color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conf-card {
    background-color: rgba( 39, 64, 94 );
    color: white;
    opacity: 0.9;
}