<section class="vh-100 imagen">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card conf-card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block ">
                            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" /> -->
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center border-primary">
                            <div class="card-body p-4 p-lg-5 text-black border-primary">

                                <form [formGroup]="loginForm" (ngSubmit)="login()">
                                    <h5 class="fw-normal mb-5 pb-3 text-light" style="letter-spacing: 1px;">Inicia sesión en tu
                                        cuenta</h5>

                                    <div class="col-12 mb-4">
                                        <label class="mb-2 text-light" for="email">Email</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="email" class="form-control" formControlName="email"
                                                    placeholder="Email">
                                                <span class="input-group-text">
                                                    <div *ngIf="loginForm.get('email')!.valid">
                                                        <fa-icon class="fa-xl text-success" [icon]="faCheckCircle"></fa-icon>
                                                    </div>
                                                    <div *ngIf="!loginForm.get('email')!.valid">
                                                        <fa-icon class="fa-xl text-danger" [icon]="faTimesCircle"></fa-icon>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 mb-5">
                                        <label class="mb-2 text-light" for="password">Contraseña</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="{{input}}" class="form-control" formControlName="password"
                                                    placeholder="Contraseña">
                                                <span class="input-group-text">
                                                    <a class="button me-2" (click)="toggleShow()">
                                                        <fa-icon class="fa-xl text-primary" [icon]="faEye" [hidden]="showPassword"></fa-icon>
                                                        <fa-icon class="fa-xl text-primary" [icon]="faEyeSlash" [hidden]="!showPassword"></fa-icon>                                                        
                                                    </a>
                                                </span>
                                                <span class="input-group-text">
                                                    <div *ngIf="loginForm.get('password')!.valid">
                                                        <fa-icon class="fa-xl text-success" [icon]="faCheckCircle"></fa-icon>
                                                    </div>
                                                    <div *ngIf="!loginForm.get('password')!.valid">
                                                        <fa-icon class="fa-xl text-danger" [icon]="faTimesCircle"></fa-icon>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pt-1 mb-4 d-md-flex justify-content-md-end">
                                        <button type="submit" [disabled]="loginForm.invalid"
                                            class="btn btn-primary btn-lg btn-block" *ngIf="!cargando">
                                            Iniciar Sesión
                                        </button>
                                        <button type="button" [disabled]="true"
                                            class="btn btn-primary submit-btn btn-block" *ngIf="cargando">
                                            <i class="fa-solid fa-spin fa-sync"></i>
                                            Espere...
                                        </button>
                                    </div>

                                    <!-- <p><a class="text-danger mt-3 mb-3" href="#!"
                                            style="text-decoration: none;">¿Olvidaste tu contraseña?</a></p>
                                    <p class="mb-5 pb-lg-2 text-primary">¿No tienes una cuenta? <a
                                            routerLink="/admin/account/signin" routerLinkActive="true"
                                            style="text-decoration: none;">¡Regístrate aquí!</a></p>
                                    <a href="#!" class="small text-muted text-primary me-3"
                                        style="text-decoration: none;">Términos de uso.</a>
                                    <a href="#!" class="small text-muted text-primary"
                                        style="text-decoration: none;">Política de privacidad.</a> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>