<div class="row mb-5 conf-row-card">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="card text-center conf-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <fa-icon class="fa-2xl text-light" [icon]="faGithub"></fa-icon>
                    </div>
                    <div class="col-2">
                        <fa-icon class="fa-2xl text-light" [icon]="faTwitter"></fa-icon>                        
                    </div>
                    <div class="col-2">
                        <fa-icon class="fa-2xl text-light" [icon]="faLinkedin"></fa-icon>                        
                    </div>
                    <div class="col-2">
                        <fa-icon class="fa-2xl text-light" [icon]="faYoutube"></fa-icon>                        
                    </div>
                    <div class="col-2">
                        <fa-icon class="fa-2xl text-light" [icon]="faFacebook"></fa-icon>                        
                    </div>
                    <div class="col-2">
                        <fa-icon class="fa-2xl text-light" [icon]="faDiscord"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>