<nav class="navbar navbar-expand-lg navbar-light bg-light pb-3 justify-content-center conf-navbar">
    <div class="text-center">        
        <button class="navbar-toggler btn-menu mb-3 mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1"
            aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav mt-1 mb-3 mb-lg-0">
                <li class="nav-item text-center">
                    <button type="button" class="btn btn-initial me-2 ms-2 mb-2 mt-2" data-toggle="button" aria-pressed="false"
                        autocomplete="off">
                        Proyectos
                    </button>
                </li>
                <li class="nav-item text-center">
                    <button type="button" class="btn btn-initial me-2 ms-2 mb-2 mt-2" data-toggle="button" aria-pressed="false"
                        autocomplete="off">
                        Habilidades
                    </button>
                </li>
                <li class="nav-item text-center">
                    <button type="button" class="btn btn-initial me-2 ms-2 mb-2 mt-2" data-toggle="button" aria-pressed="false"
                        autocomplete="off">
                        Acerca de
                    </button>
                </li>
                <li class="nav-item text-center">
                    <button type="button" class="btn btn-initial me-2 ms-2 mb-2 mt-2" data-toggle="button" aria-pressed="false"
                        autocomplete="off">
                        Contacto
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>