<nav class="navbar navbar-expand-lg portfolio-nav">
    <div class="container">
        <a class="navbar-brand" href="#inicio">JSV</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1"
            aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#experiencia">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#proyectos">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aplicaciones">Aplicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link--cta" href="#contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
