.nombre {
    font-family: monospace;
    color: #bbb8b5;
    text-decoration: none;
}

.conf-navbar {
    min-height: 100%; 
    background-image: linear-gradient(to bottom, rgba( 39, 64, 94 ), rgba( 136, 182, 215 ));
    opacity: 0.9;
}

.btn-initial.active,
.btn-initial:active,
.btn-initial:focus,
.btn-initial:hover {
    font-family: monospace;
    text-decoration: none;
    color: #252527;
    background-color: #88b6d7;
    border-radius: 20px;
    border-color: #51393c;
}

.btn-initial {
    font-family: monospace;
    text-decoration: none;
    color: white;
    background-color: #27405e;
    border-radius: 20px;
    border-color: #51393c;
    padding: 10px 20px 10px 20px;
}

.btn-menu.active,
.btn-menu:active,
.btn-menu:focus,
.btn-menu:hover {
    font-family: monospace;
    text-decoration: none;
    color: #252527;
    background-color: #88b6d7;
    border-radius: 5px;
    border-color: #51393c;
}

.btn-menu {
    font-family: monospace;
    text-decoration: none;
    color: white;
    background-color: #27405e;
    border-radius: 5px;
    border-color: #51393c;
    padding: 10px 20px 10px 20px;
}