<header>
    <div class="row">
        <div class="pt-5 pb-5" style="min-height: 100%; background-image: linear-gradient(to bottom, rgba( 1, 0, 5 ), rgba( 39, 64, 94 )); opacity: 0.9;">
            <div class="container-fluid mt-0 text-center">
                <a class="navbar-brand mt-2" href="https://github.com/yoryopkrk">
                    <div class="row">
                        <div class="col-lg-6">
                            <span class="nombre">JORGE ANDRÉS SÁNCHEZ VENEGAS</span>
                        </div>
                        <div class="col-lg-6">
                            <small class="profesion"><em>Desarrollador Web Full Stack</em></small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>