<div class="row">
    <div id="carouselExampleCaptions" class="carousel slide mb-2" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner mb-4">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3 text-center">
                        <section>
                            <div class="card mb-3 conf-card text-light">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="..." class="img-fluid rounded-start" alt="...">
                                        <label for="">IMAGEEEEEEEEN</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Proyectos destacados</h5>
                                            <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a
                                                continuación como
                                                introducción natural a contenido adicional. Este contenido es un poco
                                                más largo.</p>
                                            <p class="card-text"><small class="text-muted">Última actualización hace 3
                                                    minutos</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3 text-center">
                        <section>
                            <div class="card mb-3 conf-card text-light">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="..." class="img-fluid rounded-start" alt="...">
                                        <label for="">IMAGEEEEEEEEN</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Proyectos destacados</h5>
                                            <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a
                                                continuación como
                                                introducción natural a contenido adicional. Este contenido es un poco
                                                más largo.</p>
                                            <p class="card-text"><small class="text-muted">Última actualización hace 3
                                                    minutos</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3 text-center">
                        <section>
                            <div class="card mb-3 conf-card text-light">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="..." class="img-fluid rounded-start" alt="...">
                                        <label for="">IMAGEEEEEEEEN</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Proyectos destacados</h5>
                                            <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a
                                                continuación como
                                                introducción natural a contenido adicional. Este contenido es un poco
                                                más largo.</p>
                                            <p class="card-text"><small class="text-muted">Última actualización hace 3
                                                    minutos</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3 text-center">
                        <section>
                            <div class="card mb-3 conf-card text-light">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="..." class="img-fluid rounded-start" alt="...">
                                        <label for="">IMAGEEEEEEEEN</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Proyectos destacados</h5>
                                            <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a
                                                continuación como
                                                introducción natural a contenido adicional. Este contenido es un poco
                                                más largo.</p>
                                            <p class="card-text"><small class="text-muted">Última actualización hace 3
                                                    minutos</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3 text-center">
                        <section>
                            <div class="card mb-3 conf-card text-light">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="..." class="img-fluid rounded-start" alt="...">
                                        <label for="">IMAGEEEEEEEEN</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Proyectos destacados</h5>
                                            <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a
                                                continuación como
                                                introducción natural a contenido adicional. Este contenido es un poco
                                                más largo.</p>
                                            <p class="card-text"><small class="text-muted">Última actualización hace 3
                                                    minutos</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3 text-center">
                        <section>
                            <div class="card mb-3 conf-card text-light">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="..." class="img-fluid rounded-start" alt="...">
                                        <label for="">IMAGEEEEEEEEN</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Proyectos destacados</h5>
                                            <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a
                                                continuación como
                                                introducción natural a contenido adicional. Este contenido es un poco
                                                más largo.</p>
                                            <p class="card-text"><small class="text-muted">Última actualización hace 3
                                                    minutos</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>