<nav class="navbar navbar-expand-lg navbar-light bg-light" style="min-height: 100%; background-image: linear-gradient(75deg, rgba( 37, 37, 39 ), rgba( 187, 184, 181 ))">
    <div class="container-fluid justify-content-end">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                <li class="nav-item">
                    <button type="button" class="btn btn-initial me-3 mt-2" data-toggle="button" aria-pressed="false"
                        autocomplete="off">
                        Proyectos
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-initial me-3 mt-2" data-toggle="button" aria-pressed="false"
                        autocomplete="off">
                        Habilidades
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-initial me-3 mt-2" data-toggle="button" aria-pressed="false"
                        autocomplete="off">
                        Acerca de
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-initial me-3 mt-2" data-toggle="button" aria-pressed="false"
                        autocomplete="off">
                        Contacto
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>





<nav class="navbar navbar-expand-lg pb-3"
    style="min-height: 100%; background-image: linear-gradient(75deg, rgba( 37, 37, 39 ), rgba( 187, 184, 181 ))">
    <div class="container-fluid mt-0">
        <a class="navbar-brand nombre mt-2" href="https://github.com/yoryopkrk">
            JORGE SÁNCHEZ VENEGAS
        </a>

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <button type="button" class="btn btn-initial me-3 mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                    Proyectos
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-initial me-3 mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                    Habilidades
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-initial me-3 mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                    Acerca de
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-initial me-3 mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                    Contacto
                </button>
            </li>
        </ul>
    </div>
</nav>