.letras {
    font-family: monospace;
    color: #bbb8b5;
    text-decoration: none;
}

.conf-footer {
    min-height: 100%;
    background-image: linear-gradient(90deg, rgba(39, 64, 94), rgba(136, 182, 215));
}