.collapse {
    &:not(.show) {
        display: none;
    }
}

.sidebar {
    //position: fixed;
    left: 0;
    width: 160px;
    padding: 20px;
}

.conf-sidebar {
    min-height: 100%; 
    background-color: rgba( 39, 64, 94 );
}

@media (min-width: 360px) and (max-width: 576px) {
    #mySidebar {
        padding: 0px;
        margin: 0px;
    }

    .sidebar {
        display: none;
    }
}