<div class="card text-center" style="width: auto; height: auto;">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-2">
                <div class="card bg-light">
                    <div class="card-header">Gráfico de Lineas 1</div>
                    <div class="card-body">
                        <div id="chart">
                            <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
                                [xaxis]="chartOptions.xaxis!" [dataLabels]="chartOptions.dataLabels!"
                                [grid]="chartOptions.grid!" [stroke]="chartOptions.stroke!"
                                [title]="chartOptions.title!"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-2">
                <div class="card bg-light">
                    <div class="card-header">Gráfico de Lineas 2</div>
                    <div class="card-body">
                        <div id="chart1">
                            <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
                                [xaxis]="chartOptions.xaxis!" [dataLabels]="chartOptions.dataLabels!"
                                [grid]="chartOptions.grid!" [stroke]="chartOptions.stroke!"
                                [title]="chartOptions.title!"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>