<div class="w3-sidebar w3-bar-block w3-card w3-animate-left conf-sidebar"
    style="display: none;" id="mySidebar">
    <!-- <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper ps-4 pe-4 mb-2">
                    <div class="profile-image mt-3 mb-3 ms-5 me-5">
                        <img class="rounded-circle" src="assets/images/faces/face1.jpg" alt="profile image">
                    </div>
                    <div class="text-wrapper" style="text-align: center;">
                        <p class="profile-name h5" style="color: white">{{descripcion}}</p>
                        <small class="designation h6" style="color: white">{{ arrayRol }}</small>
                    </div>
                </div>
            </div>
        </li>
    </ul> -->

    <nav class="sidebar">
        <ul class="nav flex-column conf-sidebar pt-5">
            <a class="light-blue-bg pb-2 text-light text-decoration-none" style="display: block;">
                <span class="ps-3">MENU</span>
            </a>
            <a routerLink="/dashboard/contact/list-contact" class="conf-sidebar text-decoration-none text-light" routerLinkActive="active">
                <span class="ps-3">Contacto</span>
            </a>
            <!-- <div class="group" *ngFor="let item of arrayMenu; let i = index">
                <a *ngIf="item.isLayout" (click)="ddToggle(i, item.slug)"
                    style="color: white; background-color: #0d6efd;" class="light-blue-bg nav-link" type="button"
                    data-bs-toggle="collapse" data-bs-target="#menu-desplegable" aria-expanded="false"
                    aria-controls="menu-desplegable">
                    <i class="menu-icon {{ item.icon }} pe-3"></i>{{ item.descripcion }}
                </a>
                <div class="collapse" id="menu-desplegable">
                    <ul class="list-group" *ngFor="let menu of arrayMenu[i].subItems">
                        <li *ngIf="menu.estado == true" class="list-group-item"
                            style="color: white; background-color: #0d6efd; border: none;">
                            <a routerLink="{{ menu.link_completo }}" style="color: white; background-color: #0d6efd;"
                                class="nav-link" routerLinkActive="active">
                                <i class="menu-icon {{ menu.icon }} pe-3" style="text-decoration: none;"></i>
                                <span class="menu-title">{{ menu.descripcion }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->
        </ul>
        <br>
        <a (click)="logout()" class="light-blue-bg text-decoration-none conf-sidebar text-light">
            <span class="ps-3">Cerrar sesión</span>
        </a>
    </nav>
</div>